.container {
    /* display: flex; */
    width: 100%;
    /* grid-template-columns: auto auto; */
    padding: 24px;
    
}
.adminContainer {
    padding-top: 24px;
}
.datexporttable {
    height: auto
}
.ag-header-cell {
    color: red;
}

