.highcharts-container {
  width: 100% !important;

  .highcharts-root {
    width: 100% !important;
  }
}

.fullscreen {
  .highcharts-container {
    width: 100% !important;
    height: 400px;

    .highcharts-root {
      width: 100% !important;
      height: 400px;
    }
  }
}